.body {
    position: relative;
    background: #449144;
}

.anchor {
    position: fixed;
    background: rgb(107, 101, 101);
    opacity: 0.5;
}


.box{
    border: 15px;
    padding: 100px;
    margin: 20px;
}